* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: solid black 1.5px;
}

.logo {
  width: 5%;
}

.logo img {
  width: 100%;
}

.search {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  width: 50%;
  height: 100%;
  border: solid red 2px;
}

.search .icon {
  width: 70%;
  height: 5vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.search img {
  width: 5%;
}

.input {
  outline: none;
  border: none;
  width: 90%;
}

.search button {
  width: 15%;
  border: none;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

.search button:hover {
  background-color: rgb(226, 74, 74);
  cursor: pointer;
  transition: all .5s ease;
}

.tools {
  width: 35%;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.tools button {
  color: white;
  background-color: red;
  padding: 9px;
  width: 25%;
  border-radius: 20px;
  border: none;
  font-size: medium;
}

.tools button:hover{
  cursor: pointer;
  background-color: rgb(226, 74, 74);
  transition: all .5s ease;
}

.tools select {
  width: 25%;
  padding: 9px;
  background-color: transparent;
  color: black;
  border: none;
  border-left: solid black 1px;
  font-weight: bold;
  outline: none;
}

select , option {
  background-color:rgb(137, 170, 192);
  color: white;
  font-weight: bold;
}

/* section */

section {
  max-height: 89vh;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  overflow: hidden;
}

/* articles */
.article1 {
  width: 65%;
  height: 85vh;
  border-radius: 7px;
  box-shadow: rgba(99, 99, 99, 0.2) 1px 2px 10px 2px;
  margin-top: 1%;
}

.urlImg {
  width: 85%;
  height: 70%;
}

.MoreNews {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.MoreNews h2 {
  color: red;
}

.MoreNews .content {
  font-weight: bold;
  width: 90%;
}

.MoreNews img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.contentLink {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.newLink {
  width: 35%;
  background-color: red;
  color: white;
  text-decoration: none;
  border-radius: 7px;
}

.MoreNews .newLink .Link {
  text-decoration: none;
  color: white;
  font-size: large;
  width: 100%;
}

 .MoreNews .like {
  width: 2.5%;
}

.like img {
  width: 100%;
}

.like:hover {
  cursor: pointer;
}

.article2 {
  width: 28%;
  max-height: 100vh;
  border-radius: 7px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: scroll;
}
/* scroll bar */
.article2::-webkit-scrollbar {
  width: 15px;
}
.article2::-webkit-scrollbar-track {
  background-color: antiquewhite;
  border-radius: 20px;
}
.article2::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 20px;
  height: 10%;
  border: solid black 2px;
}

.randomNews {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 60vh;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 10px 9px; */
  box-shadow: rgba(99, 99, 99, 0.2) 1px 5px 10px 5px;
  border-radius: 7px;
  margin-top: 2%;
}

.randomImg {
  width:95%;
}

.randomNews img {
  width: 100%;
  border-radius: 7px;
}